body{
color:white;
font-family: "Enchanted Land",Enchanted Land;
font-size: 20px;

background-image: url("3b36f9b606fabd4a513d48def6716718.jpg");
background-attachment:fixed;
background-color:black;
background-repeat:no-repeat;
background-position:50% 10%;	
}

@font-face {
	font-family: "Enchanted Land";
	src: url('Enchanted Land.otf');
	font-weight: bold
}

P { text-align: center }
H2 { text-align: center }
H1 { text-align: center }

.Image1 {
width: 500px;
height: 208px;
padding-left: 504px;
}
.image2 {
margin-left: 677px;}

.Liens {
margin-left: 600px;